/* Estilos generales */
.layout {
    display: grid;
    min-height: 100dvh;
    grid-template-rows: auto 1fr auto;
    justify-content: center;
}

header {
    height: 115px;
    z-index: 1000;
}

footer {
    margin-bottom: 20px;
}

header, main, footer {
    width: var(--principal-width);
}
h1, h2, h3{
    font-family: var(--font-titles);
}