/* Navbar */
.navbar {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 115px;
    background-color: #c68f88;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

/* Estilos de los elementos del navbar */
.nav-left, .nav-right {
    display: none;
    /* display: flex; */
    align-items: center;
    gap: 20px;
    font-size: 20px;
    cursor: pointer;
}

/* Centrar el logo */
.nav-center {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

/* Tamaño del logo */
.logo {
    max-height: 115px;
}