.slider-list .slider-item {
    list-style: none;
}

.slider-list .slider-item .slider-link {
    display: block;
    width: 540px;
}

.slider-list .slider-link .slider-img {
    width: 100%;
    object-fit: cover;
    border-radius: 15px;
}