:root {
  --green-dark: #999b84;
  --rose-light: #fff1f1;
  --rose-classic: #fed5db;
  --rose-medium: #e9c4bb;
  --rose-dark: #c68f88;

  --black: #000000;

  --font-titles: 'Balqis'; 

  --principal-width: 900px;

  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  background-color: var(--rose-light);
  /* padding-top: 60px; Para que el contenido no quede oculto detrás del navbar */
}
/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Balqis';
  src: url('../fonts/BALQIS.woff2') format('woff2');
  color: var(--black);
}