:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  background-color: #fff1f1;
  /* padding-top: 60px; Para que el contenido no quede oculto detrás del navbar */
}
/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}